body, p {
	margin: 0;
}

body {
	background-color: rgb(118, 99, 193);
}

section {
	background-color: rgb(215, 209, 239);
	border-radius: 0.5em;
	padding: 1em;
	margin: 0.5em;
}

button {
	padding: 0.3em 2.2em;
	border-radius: 0.3em;
	border: 1px solid gray;
	transition: 0.5s all;

	/* Nested CSS */
	&:hover {
		cursor: pointer;

		background-color: rgb(205, 194, 250);
	}
}
